


<li class="nav-item <%= activeuser %>">
    <a class="nav-link" href="/dashboard">
        <i class="fas fa-fw fa-table"></i>
        <span>Users</span></a>
</li>

<li class="nav-item <%= activetb %>">
    <a class="nav-link" href="/thietbi">
        <i class="fas fa-fw fa-cog"></i>
        <span>ThietBi</span></a>
</li>

<li class="nav-item <%= activesendmail %>">
    <a class="nav-link" href="/sendmailhtml">
        <i class="fas fa-fw fa-cog"></i>
        <span>SendMail</span></a>
</li>

<!-- <li class="nav-item <%= activeedittb %>">
    <a class="nav-link" href="/editthietbi">
        <i class="fas fa-fw fa-table"></i>
        <span>Sửa thiết bị</span></a>
</li> -->